$headerFont: 'Racing Sans One', cursive;
$textFont: 'Source Sans Pro', sans-serif;
$ferrariGreen: #008c45;
$ferrariWhite: #fafcfb;
$ferrariRed: #CD212A;

@keyframes runningcar {
    from {left: -50%;}
    to {left: 150%;}
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: $ferrariWhite;
    #main {
        background: linear-gradient(
        180deg, 
        #b31c00 0%, #b31c00 25px, 
        #cc2000 25px, #cc2000 50px, 
        #e62400 50px, #e62400 75px,
        #ff2800 75px, #ff2800 100px,
        #ff3e1a 100px, #ff3e1a 125px,
        #ff5333 125px, #ff5333 150px,
        #ff694d 150px, #ff694d 175px,
        $ferrariWhite 175px, $ferrariWhite 100%
        ) no-repeat top;
        height: 100vh;
        text-align: center;
        font-family: $textFont;
        padding-top: 25px;
        #title {
            font-family: $headerFont;
            color: #FFFFFF;
            font-size: 75px;
            margin: 0;
            text-shadow:
                3px  3px 0 #000,
                -1px -1px 0 #000,  
                1px -1px 0 #000,
                -1px  1px 0 #000,
                1px  1px 0 #000;
        }
        #subTitle {
            font-size: 20px;
            color: #FFFFFF;
            margin: 0;
            text-shadow: 
                -1px 1px 2px #000,
				1px 1px 2px #000,
				1px -1px 0 #000,
				-1px -1px 0 #000;
        }
        #greenStripe {
            background: linear-gradient(to right, $ferrariGreen 50%, $ferrariWhite 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            margin-top: 25px;
            height: 30px;
            transition: all 4.5s ease 1.8s;
        }
        #redStripe {
            background: linear-gradient(to right, $ferrariRed 50%, $ferrariWhite 50%);
            background-size: 200% 100%;
            background-position: right bottom;
            height: 30px;
            transition: all 4.5s ease 1.8s;
        }
        #tribute-info {
            position: relative;
            max-width: 100%;
            margin: 0 auto;
            background-color: $ferrariRed;
            color: $ferrariWhite;
        }
        #tribute-info::after {
            content: '';
            position: absolute;
            width: 6px;
            background-color: $ferrariWhite;
            top: 0;
            bottom: 0;
            left: 50%;
            margin-left: -3px;
        }
    }
}

#img-div {
    width: 100%;
    margin-top: 75px;
    #image {
        margin: 0 auto;
        display: block;
        width: 70%;
        height: auto;
        max-width: 100%; 
        max-height: 100%;
    }
    #img-caption {
        margin: 0;
    }
}

#whiteStripe {
    background-color: $ferrariWhite;
    height: 30px;
    #carRunning{
        height: 30px;
        width: 100%;
        position: absolute;
        left: -50%;
        #fOneCar {
           display: block;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
    }
}

.moveCar {
    animation: runningcar 10s 1;
}

.colorGreen, .colorRed {
    background-position: left bottom !important;
}



